# Author: Rafael Cavalcanti - rafaelc.org

[Unit]
Description=Backup from cloud
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=%h/Documents/Sysadmin/Backups/bin/backup-from-cloud
Nice=19
