# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Backup from cloud
OnFailure=status-email@%n.service

[Service]
ExecStartPre=/usr/bin/nm-online -q
ExecStart=%h/Code/rc2dev/backup-bin/backup-from-cloud
Nice=19
