# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Backup from cloud
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=%h/Documents/Sysadmin/Backups/backup-bin/backup-from-cloud
Nice=19
