# Author: Rafael Cavalcanti - rafaelc.org

[Unit]
Description=Backup from pizero
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=/home/rafael/Documents/Tech/Backups/bin/backup-from-pizero
# This allow us to login on ssh with a passphrase-protected key
Environment="SSH_AUTH_SOCK=/run/user/1000/keyring/ssh"
Nice=19
