# Author: Rafael Cavalcanti - rafaelc.org

[Unit]
Description=Run backup-from-yt periodically

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
