# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Backup from airport
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=%h/Code/backup-bin/backup-from-airport
Nice=19
