# Author: Rafael Cavalcanti - rafaelc.org

[Unit]
Description=Backup from mail
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=%h/.gem/ruby/2.7.0/bin/imap-backup
Nice=19
