[Unit]
Description=Run imwheel when bluetooth mouse is connected
BindsTo=sys-subsystem-bluetooth-devices-hci0:3585.device

[Service]
Type=simple
Environment=XAUTHORITY=/var/run/lightdm/%u/xauthority
# If -f is not passed, mouse over dwmbar has the same behaviour
# as it was over the focused window.
ExecStart=/usr/bin/imwheel -d -b "45" -f
ExecStop=/usr/bin/imwheel -k
RemainAfterExit=true

[Install]
WantedBy=sys-subsystem-bluetooth-devices-hci0:3585.device
