# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Pull dotfiles
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=%h/.local/opt/yadm-project/yadm pull
