# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Sync rclone
OnFailure=status-email@%n.service

[Service]
ExecStartPre=/usr/bin/nm-online -q
ExecStart=%h/Code/rc2dev/backup-bin/sync-rclone
Nice=19
# Lower IO priority to minimium
IOSchedulingPriority=7
