# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Sync rclone
After=network.target
OnFailure=status-email@%n.service

[Service]
ExecStart=%h/Code/backup-bin/sync-rclone
Nice=19
