# Author: Rafael Cavalcanti <https://rafaelc.org/dev>

[Unit]
Description=Daily user-level update

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
