/*
 * Rofi murz theme from <https://github.com/Murzchnvok/rofi-collection>
 * modified by Rafael Cavalcanti <https://rafaelc.org/dev>.
 *
 * User: Contributors
 * Copyright: *!
 */

configuration {
  font: "IBM Plex Mono Medium 12";
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;

  /* Transparency */
  bg: #18181Bfc;
  bg-alt: #20212Cfc;
  fg: #A0A0AB;
  fg-alt: #5D5E72;

  background-color: rgba(0, 0, 0, 0);
  text-color: @fg-alt;
}

window {
  //border: 3px;
  //border-color: @fg-alt;
  //border-radius: 8px;

  transparency: "real";
  background-color: @bg;
  height: 100%;
  width: 500px;
  location: west;
  anchor: west;

  /* To set as sidebar:
   * - anchor and location: west
   * - height: 100%
   * - comment borders */

  /* To set as center:
   * - anchor and location: center
   * - max-height: 80%
   * - uncomment borders */
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  children: [prompt, entry];
}

prompt {
  padding: 10px;
  margin-right: 0px;
}

entry {
  padding: 10px 5px;
}

listview {
  lines: 14;
  fixed-height: false;
  dynamic: false;
  scrollbar: true;
}

scrollbar {
  background-color: @bg-alt;
  handle-color: @fg;
  margin: 0 0 0 6px;
}

element {
  children: [element-text];
}

element-text {
  padding: 10px 20px;
}

element-text selected {
  background-color: @bg-alt;
  text-color: @fg;
}
