[submodule "/home/rafael/.config/nvim/autoload/vim-plug"]
	path = .config/nvim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "/home/rafael/.config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "/home/rafael/.config/zsh/.antidote"]
	path = .config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
[submodule ".config/ranger/plugins/ranger-zshz"]
	path = .config/ranger/plugins/ranger-zshz
	url = https://github.com/rc2dev/ranger-zshz
[submodule "/home/rafael/.config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
