[submodule ".local/share/zsh/zinit/bin"]
	path = .local/share/zsh/zinit/bin
	url = https://github.com/zdharma-continuum/zinit.git
	branch = main
[submodule ".config/ranger/plugins/zoxide"]
	path = .config/ranger/plugins/zoxide
	url = https://github.com/jchook/ranger-zoxide.git
[submodule "/home/rafael/.config/nvim/autoload/vim-plug"]
	path = .config/nvim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "/home/rafael/.config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
