# ~/.xprofile
#
# Startup commands for dwm
#
# Author: Rafael Cavalcanti - rafaelc.org

source $HOME/.zprofile

if [ "$XDG_SESSION_DESKTOP" != "dwm" ]; then
  return 0
fi

# Gnome Keyring
if ! pgrep -u "$USER" gnome-keyring-daemon > /dev/null; then
  eval $(gnome-keyring-daemon --start)
  export SSH_AUTH_SOCK
fi

# Polkit agent - so GUI applications can request privileges
/usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1 &

# Basic utilities
xsettingsd &
dunst &
wal -R &
redshift-gtk &
compton --backend glx --paint-on-overlay --vsync opengl-swc &
clipmenud &
nm-applet &
system-config-printer-applet &
kdeconnect-indicator &
keepassxc &

# Statusbar loop
while true; do
  dwmbar
  sleep 10s
done &
