# ~/.xprofile
#
# Startup commands for dwm
#
# Author: Rafael Cavalcanti - rafaelc.org

source $HOME/.zprofile
xrdb ~/.Xresources

if [ "$XDG_SESSION_DESKTOP" != "dwm" ]; then
  return 0
fi

# Gnome Keyring
if ! pgrep -u "$USER" gnome-keyring-daemon > /dev/null; then
  eval $(gnome-keyring-daemon --start)
  export SSH_AUTH_SOCK
fi

# Polkit agent - so GUI applications can request privileges
/usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1 &

# Basic utilities
xsettingsd &
imwheel -b "4 5" &
dunst &
nitrogen --restore &
LANG=pt_BR.utf-8 conky &
redshift-gtk &
compton &
clipmenud &
playerctld daemon &
system-config-printer-applet &
kdeconnect-indicator &
syncthing-gtk --minimized &
keepassxc &
chromium --profile-directory='Default' --app='https://docs.google.com/spreadsheets/d/1u5q22YMmvNleFijg33sBbEiJMnfIDPkNxQ_mLyBacqU/' &

# Automatically lock and suspend after idle
xidlehook \
  --detect-sleep \
  --not-when-fullscreen \
  --not-when-audio \
  --socket "$XIDLEHOOK_SOCK" \
  --timer 90 'slock' '' \
  --timer 900 'systemctl suspend' '' \
  &

# Statusbar loop
while true; do
  dwmbar
  sleep 10s
done &
