*.topbar: 0

/* Fonts */
dmenu.font: Noto Mono:size=10
dwm.font: Noto Mono:size=10
st.font: Ubuntu Mono:pixelsize=16:antialias=true:autohint=true

/* dwm */
dwm.borderpx: 2

/* st */
st.alpha: 0.95


/******* Themes definitions ********/

/* Nord theme (from st) */
#define c00 #3b4252
#define c01 #bf616a
#define c02 #a3be8c
#define c03 #ebcb8b
#define c04 #81a1c1
#define c05 #b48ead
#define c06 #88c0d0
#define c07 #e5e9f0
#define c08 #4c566a
#define c09 #bf616a
#define c10 #a3be8c
#define c11 #ebcb8b
#define c12 #81a1c1
#define c13 #b48ead
#define c14 #8fbcbb
#define c15 #eceff4
#define cbg #2e3440
#define cfg #d8dee9


/******* Theme application *******/

/* dmenu and dwm */
*.normbgcolor: cbg
*.normfgcolor: c12
*.selbgcolor: c08
*.selfgcolor: c07

/* dwm */
dwm.normbordercolor: cbg
dwm.selbordercolor: c08

/* st */
/* 8 normal colors */
*.color0: c00 /* black   */
*.color1: c01 /* red     */
*.color2: c02 /* green   */
*.color3: c03 /* yellow  */
*.color4: c04 /* blue    */
*.color5: c05 /* magenta */
*.color6: c06 /* cyan    */
*.color7: c07 /* white   */
/* 8 bright colors */
*.color8: c08 /* black   */
*.color9: c09 /* red     */
*.color10: c10 /* green   */
*.color11: c11 /* yellow  */
*.color12: c12 /* blue    */
*.color13: c13 /* magenta */
*.color14: c14 /* cyan    */
*.color15: c15 /* white   */
/* more colors can be added after 255 to use with DefaultXX */
*.background: cbg
*.foreground: cfg

