[Desktop Entry]
Type=Application
Exec=remap-kb
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=remap-kb
Comment[en_US]=No description
X-GNOME-Autostart-Delay=0
