# Dependencies: vlc
#
# Rafael Cavalcanti
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;video/*;
Actions=addToVlc;
X-KDE-Priority=TopLevel
#X-KDE-Submenu=
Encoding=UTF-8

[Desktop Action addToVlc]
Name=Add to VLC playlist
Name[pt_BR]=Adicionar à playlist do VLC
#Icon=convert
Exec=vlc --one-instance --playlist-enqueue "%u"
