# Dependencies: xsel
#
# Rafael Cavalcanti <rc.cavalcanti at gmail dot com>
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=application/octet-stream;
Actions=copyPath;
X-KDE-Priority=TopLevel
Encoding=UTF-8

[Desktop Action copyPath]
Name=Copy path
Name[pt_BR]=Copiar caminho
Exec=echo "%u" | xsel -b -i
