/* Use Geary without sunglasses (make e-mail body dark)
   Copied from https://www.reddit.com/r/gnome/comments/gkg3v1/use_geary_without_sunglasses/
*/

hr {
    color: #eeeeec !important;/**/
    background-color: #eeeeec !important;/**/
}
a,
a * {
    color: #3584e4 !important;/**/
}
* {
    color: #eeeeec !important;/**/
    background-color: #353535 !important;/**/
}
