# ~/.xprofile
# Rafael Cavalcanti

# Keyboard map changes
if [ -f ~/.Xmodmap ]; then
	xmodmap ~/.Xmodmap
fi

# On i3 and Xfce, use qt5ct to set QT5 theme
if [[ "$XDG_CURRENT_DESKTOP" =~ ^(i3|XFCE)$ ]]; then
	export QT_QPA_PLATFORMTHEME="qt5ct"
fi

# LightDM doesn't source ~/.profile
if [ -f ~/.profile ]; then
	. ~/.profile
fi
