/* Adapted from nord theme at <https://github.com/joao-vitor-sr/wofi-themes-collection> */
/* by Rafael Cavalcanti <https://rafaelc.org/dev>. */

window {
  font-family: monospace;
  font-size: 15px;
  margin: 0px;
  border: 1px solid #88c0d0;
  background-color: #2e3440;
}

#input {
  margin: 5px;
  border: none;
  color: #d8dee9;
  background-color: #3b4252;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d8dee9;
}

#entry:selected {
  background-color: #3b4252;
}
