@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Ocultar nomes na barra de favoritos */
/*#personal-bookmarks .bookmark-item > .toolbarbutton-text {*/
	/*display: none !important;*/
/*}*/

/* Não mostrar botão de fechar aba */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
	display: none !important;
}

/* Abas abaixo */
#PersonalToolbar { /* [> bookmarks toolbar <] */
		-moz-box-ordinal-group: 2 !important;
}
#TabsToolbar { /*  [> tab bar <] */
		-moz-box-ordinal-group: 3 !important;
		background-color: var(--toolbar-non-lwt-bgcolor);
}
#navigator-toolbox::after {
		-moz-box-ordinal-group: 4;
}

