# ~/.xprofile
# Rafael Cavalcanti

# Keyboard map changes
xmodmap $HOME/.Xmodmap

# On i3 use qt5ct to set QT5 theme
# Note: Setting QT_QPA_PLATFORMTHEME="qt5ct" instead, make audio icons
# blank on Dolphin
if [[ "$XDG_CURRENT_DESKTOP" == "i3" ]]; then
	export QT_QPA_PLATFORMTHEME="qt5ct"
fi

# LightDM doesn't source ~/.profile
if [ -f ~/.profile ]; then
	. ~/.profile
fi
