[Desktop Entry]
Comment=
Exec=dmenu-yt
Icon=im-youtube
Name=dmenu-yt
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=AudioVideo;Video
