[Desktop Entry]
Encoding=UTF-8
Name=Firefox temporary profile
Comment=Run Firefox with a temporary profile
Exec=firefox-tmp-profile
Icon=firefox
Type=Application
Categories=Internet;
